/* CSS Style DepartmentTree.vue */
.fullFrame {
    margin-left: 12px;
}

.departmentTreeFrame {
    display: flex;
    justify-content: space-between;
}

.leftFrame {
    flex: 1;
}

.searchInput {
    width: 360px;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.departmentTree {
    border: none !important;
}

.contentFrame {
    width: 70%;
}

.contentTitle {
    width: 99%;
    border-bottom: 1px solid #ccc !important;
}

.contentTitleText {
    font-weight: bold !important;
    color: #3699ff;
    text-decoration: underline ;
    padding-left: 20px;
    text-decoration-color: #3699ff;
    text-underline-offset: 18px;
}

.table {
    width: 99% !important;
}

/* Thêm style cho cây tổ chức */
#department-jstree {
    margin-top: 20px;
    padding: 10px;
}