/* CSS Style LeftMenu.vue */
.menu-group {
    margin-bottom: 10px;
    box-shadow: offset-x offset-y blur-radius spread-radius color;
}

.menu-group-header {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerIcon {
    padding-right: 8px;
    color: #ffa800;
}

.openCloseBtns {
    padding-right: 12px;
}

.menu-group-children {
    padding-left: 20px;
    overflow: hidden;
    max-height: 0;
    transition: 100% 0.3s ease-out; /* Hiệu ứng cuộn từ từ */
}

.menu-group-children.slide-in {
    max-height: 100%; /* Chiều cao tối đa khi danh sách mở */
}

.menu-group-children.slide-out {
    height: 100%; /* Chiều cao 0 khi danh sách đóng */
}

.menu-item {
    padding: 5px;
}

.menu-item a {
    text-decoration: none;
    color: #333;
}

.menu-item :active {
    background-color: #e1e1e1;
}

.menu-item a:hover {
    color: #007bff;
}